#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #333;
  font-size: 14px;
}

/**
* 表头样式
*/
.el-table th {
  background-color: rgb(47, 79, 79) !important;
  color: #fff;
}
.el-tabs__header {
  margin-bottom: 0px !important;
}

.el-tab-pane {
  text-align: left;
}

/**
* 抽屉样式
*/
.el-drawer {
  background-color: rgba(0, 0, 0) !important;
}
.el-drawer__header {
  color: #fff !important;
  font-weight: 550;
}
.el-drawer .el-card {
  background-color: rgba(0, 0, 0) !important;
  color: #fff;
  border: none !important;
}

/**
* 视频播放样式
*/
.vjs_video_3-dimensions {
  width: 98%;
  height: 380px;
  margin: 20px 0 0;
}

/**
* 可点击提示
*/
.show-pointer {
  cursor: pointer;
}

/**
* 图标样式
*/
.hicon {
  color: #fff;
  font-size: 24px;
}

/**
* dropdown和内容之间的距离
*/
.dropdown-top {
  top: 40px !important;
}

/**
*消息数目提示
*/
.el-badge__content.is-fixed {
  top: 14px !important;
}

/**
* side样式
*/
.hideClass {
  width: 64px !important;
  overflow: hidden;
}
.el-submenu__title:hover {
  background-color: rgba(0, 0, 0, 0.3) !important;
}
